<?xml version="1.0" encoding="UTF-8"?>

<!--
日志级别从低到高分为TRACE < DEBUG < INFO < WARN < ERROR < FATAL，
如果设置为WARN，则低于WARN的信息都不会输出。
Spring Boot中默认配置ERROR、WARN和INFO级别的日志输出到控制台-->
<configuration  scan="true" scanPeriod="60 seconds" debug="false">

    <contextName>logback</contextName>

    <!--设置变量<property>
        用来定义变量值的标签， 有两个属性，name和value；
        其中name的值是变量的名称，value的值时变量定义的值。
        通过定义的值会被插入到logger上下文中。定义变量后，可以使“${}”来使用变量-->
    <property name="log.path" value="${catalina.base}/logback_dir" />

    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!--ThresholdFilter为系统定义的拦截器，例如我们用ThresholdFilter来过滤掉ERROR级别以下的日志不输出到文件中。如果不用记得注释掉，不然你控制台会发现没日志~-->
        <!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
             <level>ERROR</level>
         </filter>-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--设置策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/%d{yyyyMMdd}/logback.%d{yyyyMMdd}.%i.log</fileNamePattern>
            <!--日志文件最大的大小-->
            <MaxFileSize>20MB</MaxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

    <!--显示sql参数-->
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder"  level="TRACE" />
    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor"  level="DEBUG" />
    <!--     <logger name="org.hibernate.SQL" level="DEBUG" />
        <logger name="org.hibernate.type" level="INFO" />
        <logger name="org.hibernate.engine.QueryParameters" level="DEBUG" />
        <logger name="org.hibernate.engine.query.HQLQueryPlan" level="DEBUG" />   -->

    <!--文件名称不是logback.xml，想使用spring扩展profile支持，要以logback-spring.xml命名-->
    <!-- 测试环境+开发环境. 多个使用逗号隔开. -->
    <!--<springProfile name="master">-->
    <!--<logger name="com.kfd.traffic" level="DEBUG" />-->
    <!--</springProfile>-->
    <!--&lt;!&ndash; 生产环境. &ndash;&gt;-->
    <!--<springProfile name="slave">-->
    <!--<logger name="com.kfd.traffic" level="DEBUG" />-->
    <!--</springProfile>-->
</configuration>